{% extends ':layouts:base.html.twig' %}

{% block main_content %}

	<div class="container">
		<div class="row">

		   	{% if (app.user) %}
			{% for book in books %}
				<a href="{{ path('bdloc_app_book_detail', {'id' : book.id }) }}"
				<a href="{{ asset('detail/covers/'~book.cover) }}" title="{{ book.title }}">{{ book.title }}</a>
			{% endfor %}


		   	{% else %}
			<div id="inscription" class="col-xs-12">
				<a href="{{ path('bdloc_app_user_register') }}">Inscrivez-vous !!!</a>
		   	</div>
			{% endif %}
			
		</div>
	</div>

{% endblock %}