{% extends ':layouts:base.html.twig' %}

{% block main_content %}

	<div class="container">
		<div class="row">

		{% if (app.user) %}
			{# {% for book in books %}
			<div class="col-xs-12">
				<a href="{{ path('bdloc_app_book_detail', {'id' : book.id }) }}" title="{{ book.title }}">
					{{ asset('img/covers/'~book.cover) }}<br>
					<img src="{{ asset('img/covers/'~book.cover) }}">
					
				</a>
			</div>
			{% endfor %} #}
			<a href="{{ path('bdloc_app_catalog_showcatalog') }}">Montrer le catalogue</a>

		{% else %}
			<div id="inscription" class="col-xs-12">
				<a href="{{ path('bdloc_app_user_register') }}">Inscrivez-vous !!!</a>
		   	</div>
			{% endif %}
			
		</div>
	</div>

{% endblock %}