{% extends ':layouts:base.html.twig' %}

{% block main_content %}

	<div class="container">
		<div class="row">
		{% if (app.user) %}
			<div class='col-xs-12'>
				<h1>Notre catalogue</h1>
			</div>


			<div class='col-xs-12' id="lookingFor">
				{{ form(bookForm, {'attr' : {'id' : 'formFind', 'novalidate' : 'novalidate' }, 'action' : url('bdloc_app_catalog_showcatalog') } ) }}
			</div>

			<div class='col-xs-12' id='result'>
				{% if books is defined %}
				<table class='table'>
					<thead>
						<tr>
							<th>Titre</th>
							<th>Illustrateur</th>
							<th>Publié par</th>
						</tr>
					</thead>
					<tbody>
					{% for book in books %}
						<tr>
							<td>{{ book.title }}</td>
							<td>{{ book.illustrator.lastname }}</td>
							<td>{{ book.publisher }}</td>
							<td><a href="{{ path('bdloc_app_book_detail', {'id' : book.id }) }}">détails</a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</div>

		{% else %}
			<div id="inscription" class="col-xs-12">
				<a href="{{ path('bdloc_app_user_register', true) }}">Inscrivez-vous !!!</a>
		   	</div>
			{% endif %}
			
		</div>
	</div>

{% endblock %}