{% extends ':layouts:base.html.twig' %}

{% block main_content %}
<div class="container">
		<div class="row">
			<div class="detail">
			   	{% if (app.user) %}
			   		<div id="image" class="col-xs-12 col-md-6">
						<img src="{{ asset('img/covers/'~book.cover)}}" title="{{ book.title }} " />
			   		</div>
					<h1>{{ book.title }}</h1>
					<div class="description">
					{% if book.illustrator %}
						<p>Auteur : {{ book.illustrator.firstName }} {{ book.illustrator.lastName }} 
						{% if book.illustrator.aka is not null %}
							alias {{ book.illustrator.aka }}</p>
						{% endif %}
					{% endif %}
					
					{% if book.scenarist %}
						<p>Scénariste : {{ book.scenarist.firstName }} {{ book.scenarist.lastName }}
						{% if book.scenarist.aka is not null %}
							alias {{ book.scenarist.aka }}</p>
						{% endif %}
						</p>
					{% endif %}
					
					{% if book.colorist %}
						<p>Déssinateur : {{ book.colorist.firstName }} {{ book.colorist.lastName }}</p>
						{% if book.colorist.aka is not null %}
							alias {{ book.colorist.aka }}</p>
						{% endif %}
					{% endif %}
					</div>

				{% else %}
				<div id="inscription" class="col-xs-12">
					<a href="{{ path('bdloc_app_user_register') }}">Inscrivez-vous !!!</a>
			   	</div>
				{% endif %}
			</div>
			
		</div>
	</div>
{% endblock %}