{% extends ':layouts:base.html.twig' %}

{% block main_content %}
<div class="container">
	<div class="row">
		<div class="detail col-xs-12">
		   	{% if (app.user) %}
		   		<div id="image" class="col-xs-12 col-md-6">
					<img src="{{ asset('img/covers/'~book.cover)}}" title="{{ book.title }} " />
		   		</div>

		   		<div id='titreBD' class="col-xs-12 col-md-6">
					<h1>{{ book.title }}</h1>
					<h4><a href="{{ path('bdloc_app_book_serie', {id : book.serie.id, title : book.serie.title }) }}" title="{{ book.serie.title }}">{{ book.serie.title }}</a></h4>
				
					<div class="description">
					{% if book.illustrator %}
						<p>Auteur : {{ book.illustrator.firstName }} {{ book.illustrator.lastName }} 
						{% if book.illustrator.aka is not null %}
							alias {{ book.illustrator.aka }}</p>
						{% endif %}
					{% endif %}
					
					{% if book.scenarist %}
						<p>Scénariste : {{ book.scenarist.firstName }} {{ book.scenarist.lastName }}
						{% if book.scenarist.aka is not null %}
							alias {{ book.scenarist.aka }}</p>
						{% endif %}
						</p>
					{% endif %}
					
					{% if book.colorist %}
						<p>Déssinateur : {{ book.colorist.firstName }} {{ book.colorist.lastName }}</p>
						{% if book.colorist.aka is not null %}
							alias {{ book.colorist.aka }}</p>
						{% endif %}
					{% endif %}
					</div>

					<div id="addRemove">
						{% if not bool %}
						<a href="{{ path('bdloc_app_cart_addbook', {idBook : book.id }) }}" id="cart" title="Ajout panier">ajouter au panier</a>
						{% else %}
						<a href="{{ path('bdloc_app_cart_removebook', {idBook : book.id }) }}" id="cart" title="Retirer panier">retirer du panier</a>
						{% endif %}
					</div>
				</div>

				<div id="button" class="col-xs-12">
					<a class="retour" href="{{ path('bdloc_app_default_home') }}" title="Accueil">Retour accueil</a>
				</div>

			{% else %}
			<div id="inscription" class="col-xs-12">
				<a href="{{ path('bdloc_app_user_register') }}">Inscrivez-vous !!!</a>
		   	</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}