{% block main_content %}
	<div class='container'>
		<div class='row'>
			<div id='formChangePassword' class='col-xs-12 col-md-6'>
				<h4>Modification de votre mot de passe</h4>
				{{ errors }}
				{% for flashMessage in app.session.flashbag.get('message') %}
				
				<div class="alert alert-danger">
			        <p>{{ flashMessage }}</p>
			    </div>
				{% endfor %}
				{{ form_start(changePasswordForm, {'attr': {'novalidate' : 'novalidate', 'id' : 'changePassword'}}) }}
					{{ form_errors(changePasswordForm.oldPassword) }}
				{{ form_end(changePasswordForm)}}
			</div>
		</div>
	</div>
{% endblock %}